API_BASE_URL=http://mercury.naamio.localhost

AUTH_COOKIE_DOMAIN=janus.naamio.localhost
AUTH_SESSION_COOKIE_SECRET=EXAMPLE_SECRET_VALUE
AUTH_WEB_AUTHN_CHALLENGE_COOKIE_SECRET=EXAMPLE_SECRET_VALUE

OTEL_ENABLED=true
OTEL_BASE_URL=http://localhost:6208
OTEL_SERVICE_NAME=naamio-janus

VITE_SITE_DOMAIN=https://janus.naamio.localhost
