PORT=6201

APP_POSTGRES_DATABASE=naamio_app
APP_POSTGRES_HOST=localhost
APP_POSTGRES_PASSWORD=example_app_password_123
APP_POSTGRES_PORT=6206
APP_POSTGRES_USERNAME=naamio_app

CLUSTER_STORAGE_POSTGRES_DATABASE=naamio_cluster
CLUSTER_STORAGE_POSTGRES_HOST=localhost
CLUSTER_STORAGE_POSTGRES_PASSWORD=example_cluster_password_123
CLUSTER_STORAGE_POSTGRES_PORT=6206
CLUSTER_STORAGE_POSTGRES_USERNAME=naamio_cluster

ELECTRIC_BASE_URL=http://localhost:6207
ELECTRIC_SECRET=example_electric_secret_123

OTEL_ENABLED=true
OTEL_BASE_URL=http://localhost:6208
OTEL_SERVICE_NAME=naamio-mercury

AUTH_SESSION_VALUE_SECRET=EXAMPLE_SECRET_VALUE

WEB_AUTHN_RP_NAME="Naamio"
WEB_AUTHN_RP_ID="janus.naamio.localhost"
WEB_AUTHN_ORIGIN="https://janus.naamio.localhost"
